:root {
    --cBgLight: #FFFAF1;
    --cTextLight: #000000;

    --cBgDark: #2F2F2F;
    --cTextDark: #FFFAF1;
}

html {
    background-color: var(--cBgLight);
    color: var(--cTextLight);
}

a {
    color: var(--cTextLight);
}

.loaderDiv {
    background-color: rgba(0, 0, 0, 0.9);
}

.header {
    background-color: var(--cBgLight);
}

.footer {
    background-color: var(--cBgLight);
}

#Imprint {
    background-color: var(--cBgLight);
}