:root {
    --cBgLight: #FFFAF1;
    --cTextLight: #000000;

    --cBgLightContrast: #2F2F2F;
    --cTextLightContrast: #FFFFFF;

    --cBgDark: #2F2F2F;
    --cTextDark: #FFFAF1;
}

html {
    background-color: var(--cBgLight);
    color: var(--cTextLight);
}

a {
    color: var(--cTextLight);
}

.loaderDiv {
    background-color: rgba(0, 0, 0, 0.9);
}

.headerDiv {
    /* background-color: var(--cBgLightContrast); */
    background-color: rgba(47, 47, 47, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: var(--cTextLightContrast);
}


.footerDiv {
    /* background-color: var(--cBgLightContrast); */
    background-color: rgba(47, 47, 47, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: var(--cTextLightContrast);
}

#Imprint {
    background-color: var(--cBgLight);
}