.footer {
    padding-top: 20px;
    padding-bottom: 20px;

    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer span {
    margin-right: 6px;
}

#Imprint {
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 100;
}

.imprintText {
    padding: 20px;
    border-radius: 20px;
}