/*-- ELEMENTS --*/
body {
    margin: 0;
    background-color: var(--colorALight);
}

section {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topSection {
    margin-top: 50px;
}

/*-- GENERAL STYLE --*/
.container {
    width: 90%;
    max-width: 1080px;
}

section .container {
    padding-top: 100px;
    padding-bottom: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

@media screen and (max-width: 768px) {
    section .container {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.textBox {
    min-width: 300px;
    max-width: 450px;

    display: flex;
    flex-direction: column;
}

.imgBox {
    min-width: 320px;
    max-width: 450px;
}

.imgBox img {
    max-width: 100%;
    border-radius: 20px;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .textBox {
        max-width: none;
    }

    .imgBox {
        max-width: none;
        min-width: none;
    }
}


.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.fullWidth {
    width: 100%;
}

.spaceBetween {
    justify-content: space-between;
}

/* Headings */
h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    font-size: 40px;
    margin: 0;
}

h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

h4 {
    margin: 0;
}

h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    margin-top: 20px;
    margin-bottom: 0px;
}
