:root {

    --color_A: #252422;
    --color_B: #E0DFD5;
    --color_AccentA: #ED6A5A;
    --color_AccentB: #0094C6;
    --color_Link: #B497D6;

    
    --colorADark: #000000;
    --colorALight: #E5E5E5;

    --colorBDark: #14213D;
    --colorBLight: #FFFFFF;

    --colorLink: #FCA311;
}

.colorSetA {
    background-color: var(--colorALight);
    color: var(--colorADark);
}

.colorSetB {
    background-color: var(--colorBLight);
    color: var(--colorBDark);
}

.colorSetADark {
    background-color: var(--colorADark);
    color: var(--colorALight);
}

.colorSetBDark {
    background-color: var(--colorBDark);
    color: var(--colorBLight);
}

.colorSetA .navLink:hover,
.colorSetA button:hover {
    background-color: var(--colorADark);
    color: var(--colorALight);
}

.colorSetB .navLink:hover,
.colorSetB button:hover {
    background-color: var(--colorBDark);
    color: var(--colorBLight);
}

.colorSetADark .navLink:hover,
.colorSetADark button:hover {
    background-color: var(--colorALight);
    color: var(--colorADark);
}

.colorSetBDark .navLink:hover,
.colorSetBDark button:hover {
    background-color: var(--colorBLight);
    color: var(--colorBDark);
}