/*-- ELEMENTS --*/
body {
    margin: 0;
    background-color: var(--color_B);
}

section {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 20px;
}

p {
    text-align: justify;
}

/*-- GENERAL STYLE --*/
.container {
    width: 90%;
    max-width: 1080px;
}

section .container {
    padding-top: 100px;
    padding-bottom: 150px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

@media screen and (max-width: 768px) {
    section .container {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.textBox {
    min-width: 400px;
    max-width: 600px;

    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .textBox {
        max-width: none;
    }
}

.imgBox {
    max-width: 400px;
}

.imgBox img {
    max-width: 100%;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.fullWidth {
    width: 100%;
}

.spaceBetween {
    justify-content: space-between;
}

.footerBox {
    width: 100%;
}

/*-- IDs --*/
#Footer {
    min-height: 0;
    height: auto;
}

#Footer .container {
    padding-top: 20px;
    padding-bottom: 20px;
}