/*-- ELEMENTS --*/
body {
    margin: 0;
    background-color: black;
}

section {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    border-radius: 20px;
}

p {
    text-align: justify;
}

/*-- GENERAL STYLE --*/
.container {
    max-width: 1080px;
}

section .container {
    width: 90%;

    padding-top: 20px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

@media screen and (max-width: 768px) {
    section .container {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.textBox {
    max-width: 600px;

    display: flex;
    flex-direction: column;
}

.imgBox {
    max-width: 500px;
}

.imgBox img {
    max-width: 100%;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.fullWidth {
    width: 100%;
}

.spaceBetween {
    justify-content: space-between;
}

.footerBox {
    width: 100%;
}

/*-- IDs --*/
#footer {
    min-height: 0;
    height: auto;
}