h2 {
    font-size: 60px;
    margin-bottom: 0px;
}

#RentalIntro {
    height: 90vh;

    background-image: url("../images/rental/rental_main.webp");
    background-size: cover;
    background-position: center;
}

#RentalIntro .textBox h2,
#RentalIntro .textBox h4 {
    text-transform: uppercase;
    text-shadow: black 0px 0px 5px;
}