:root {

    /*
    --color_A: grey;
    --color_B: #ffffff;
    --color_AccentA: #FF0800;
    --color_AccentB: #F28F3B;
    --color_Link: #245EFF;
    */
    
    --color_A: #252422;
    --color_B: #E0DFD5;
    --color_AccentA: #ED6A5A;
    --color_AccentB: #0094C6;
    --color_Link: #B497D6;
}

.colorSetA {
    background-color: var(--color_A);
    color: var(--color_B);
}

.colorSetB {
    background-color: var(--color_B);
    color: var(--color_A);
}

.colorAccentA {
    color: var(--color_AccentA);
}

.colorAccentB {
    color: var(--color_AccentB);
}